* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --logo: rgb(87, 87, 87);
    --bg: rgb(248, 248, 248);
    --bg-fill: rgb(240, 240, 240);
    --clock-bg: white;
    --green-color: #98c5a7;
    --pink-color: #ff8686;
    --grey-color: #929292;
    --brown-color: #a0886c;
    --orange-color: #f0b863;
    --purple-color: #8364ac;
    --dmb-color: #4f5c4f;
    --gold-color: #bd9d49;
    --text-color: #8364ac;
    --clock-border: rgba(231, 231, 231, 0.2);
    --clock-frame-box-shadow: rgba(231, 231, 231, 0.1);
    --clock-box-shadow: rgba(204, 204, 204, 0.8);
    --analog-text: #202520;
    --analog-clock-border: #ecf0f3;
    --analog-clock-bg: #fff6e7;
    --analog-clock-shadow-up: #cbced1;
    --analog-clock-shadow-down: white;
    --analog-clock-center-circle: var(--analog-clock-shadow-up);
    --analog-clock-hour: #c58371;
    --analog-clock-minute: #c58371;
    --analog-clock-second: #ff3677;
    --analog-clock-marking: #a5a7b1;
    --analog-clock-marking-sec: #bdbdcb;
    --analog-clock-marking-seconds: rgba(189, 189, 203, 0.07);
}

html[data-theme='dark'] {
    --logo: rgb(228, 228, 228);
    --bg: rgb(0, 0, 0);
    --bg-fill: rgb(22, 22, 22);
    --clock-bg: var(--bg);
    --clock-border: transparent;
    --clock-frame-box-shadow: transparent;
    --clock-box-shadow: var(--text-color);
    --analog-text: #d9dbe9;
    --analog-clock-border: #282828;
    --analog-clock-bg: #000;
    --analog-clock-shadow-up: rgba(67, 67, 67, 0.5);
    --analog-clock-shadow-down: rgba(0, 0, 0, 0.5);
    --analog-clock-center-circle: #4d4b63;
    --analog-clock-hour: #61afff;
    --analog-clock-minute: #61afff;
    --analog-clock-second: #ee791a;
    --analog-clock-marking: #1df52f;
    --analog-clock-marking-sec: #bdbdcb;
    --analog-clock-marking-seconds: rgba(189, 189, 203, 0.07);

    @media only screen and (max-width: 500px) {
        --bg-fill: rgb(10, 10, 10);
    }
}

.hidden {
    display: none;
}

svg {
    height: 20px;
    width: 20px;
}

nav {
    svg {
        &:nth-child(1) {
            fill: rgb(255, 115, 0)
        }

        &:nth-child(2) {
            fill: rgb(239, 244, 255)
        }
    }
}

body {
    background-color: var(--bg);
    font-family: sans-serif;
}

.overall-container {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: auto;
    transition: linear 0.3s;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 30px;

        &-logo {
            color: var(--logo);
            font-weight: bold;
            transition: linear 0.3s;
        }

        &-mode {
            height: 50px;
            width: 50px;
            background-color: var(--bg-fill);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 20px;
            transition: linear 0.3s;
        }
    }

    .clock-frame {
        width: 350px;
        height: 350px;
        background-color: var(--bg);
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 10px solid var(--clock-border);
        border-radius: 50%;
        transition: linear 0.3s;
        box-shadow: 0 0 20px 20px var(--clock-frame-box-shadow);

        .clock {
            position: relative;
            width: 250px;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--clock-bg);
            box-shadow: 0 0 60px var(--clock-box-shadow);
            border-radius: 50%;
            transition: linear 0.3s;

            &-hour {
                font-size: 4rem;
                color: var(--text-color);
            }

            .overall-minute-container {
                position: absolute;
                width: inherit;
                height: inherit;
                transition: linear .6s;

                .minute-container {
                    position: relative;
                    width: 45px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 20px auto;
                    background-color: var(--text-color);
                    border-radius: 50%;
                    transition: linear .3s;

                    .minute {
                        color: var(--bg);
                        transition: linear .3s;
                    }

                    .second-container {
                        position: absolute;
                        width: inherit;
                        height: inherit;

                        .second-indicator {
                            width: 17px;
                            height: 17px;
                            margin: -9px auto;
                            background-color: var(--text-color);
                            border: 2px solid var(--bg);
                            border-radius: 50%;
                            transition: linear .3s;
                            position: relative;

                            .milliseconds-container {
                                position: absolute;
                                width: inherit;
                                height: inherit;

                                .milliseconds-indicator {
                                    width: 8px;
                                    height: 8px;
                                    margin: -5px auto;
                                    background-color: var(--text-color);
                                    border: 2px solid var(--bg);
                                    border-radius: 50%;
                                    transition: linear .3s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .digital-clock {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        min-height: 5rem;
        background-color: var(--bg);
        width: 30%;
        max-width: 400px;
        align-self: center;
        border-radius: 20px;
        border: 10px solid var(--clock-border);
        transition: linear 0.3s;
        padding: 1rem;
        box-shadow: 0 0 20px 20px var(--clock-frame-box-shadow);

        .digital-hour,
        .digital-minutes,
        .digital-seconds,
        .digital-mseconds {
            width: 3rem;
            height: 3rem;
            background-color: var(--clock-bg);
            box-shadow: 0 0 30px var(--clock-box-shadow);
            border-radius: 10px;
            transition: linear 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: var(--text-color);

            >div:first-of-type {
                font-size: 12px;
            }

            &__data {
                font-size: 1.2rem;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
        }
    }

    .date-container {
        padding: 20px 25px;
        width: 200px;
        text-align: center;
        margin: 30px auto;
        background-color: var(--bg-fill);
        border-radius: 15px;
        transition: linear .3s;

        .date {
            color: var(--text-color);
        }
    }

    .traditional-clock {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        position: relative;
        margin-bottom: 2rem;
        padding: 1.8rem;
        border: 10px solid var(--analog-clock-border);
        appearance: none;
        box-shadow: -4px -4px 10px var(--analog-clock-shadow-up),
            inset 4px 4px 10px var(--analog-clock-shadow-down),
            inset -4px -4px 10px var(--analog-clock-shadow-up),
            4px 4px 10px var(--analog-clock-shadow-down);

        .outer-clock-face {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-color: var(--bg);
            overflow: hidden;

            &::after {
                transform: rotate(90deg);
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 5px;
                height: 100%;
                background-color: var(--analog-clock-marking);
                z-index: 0;
                left: 49%;
            }

            .inner-clock-face {
                position: absolute;
                top: 10%;
                left: 10%;
                width: 80%;
                height: 80%;
                background-color: var(--bg);
                border-radius: 100%;
                z-index: 1;

                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: var(--analog-clock-center-circle);
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 11;
                }
            }
        }

        .numbers {
            position: absolute;
            left: 50%;
            bottom: 50%;
            transform: translate(-50%, 50%);
            font-size: 0.75rem;
            font-weight: 700;
            z-index: 5;
            color: var(--text-color);
        }

        .hand {
            position: absolute;
            border: 1px solid transparent;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            left: 50%;
            bottom: 50%;
            transform: translateX(-50%);
            transform-origin: bottom;

            &.hours {
                width: 8px;
                height: 30%;
                background-color: var(--analog-clock-hour);
                z-index: 3;
            }

            &.minutes {
                width: 3.5px;
                height: 40%;
                background-color: var(--analog-clock-minute);
                z-index: 10;
            }

            &.seconds {
                width: 4px;
                height: 45%;
                background-color: var(--analog-clock-second);
            }
        }
    }

    .stop-watch-frame {
        border: 10px solid var(--clock-border);
        box-shadow: 0 0 20px 20px var(--clock-frame-box-shadow);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg);
        margin-bottom: 2rem;
        border-radius: 20px;
        padding: 2rem;

        .stop-watch {
            background-color: var(--clock-bg);
            box-shadow: 0 0 30px var(--clock-box-shadow);
            width: 40%;
            min-width: 300px;
            max-width: 500px;
            padding: 30px 0;
            border-radius: 20px;

            .timer-display {
                position: relative;
                width: 110%;
                background: var(--text-color);
                left: -5%;
                padding: 20px 0;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: space-around;
                font-size: 2rem;
                font-family: "Roboto mono", monospace;
                border-radius: 10px;
                box-shadow: 0 0 20px var(--clock-box-shadow);
            }

            .timerButtons {
                width: 80%;
                display: flex;
                margin: 20px auto;
                justify-content: space-around;

                button {
                    padding: 8px 16px;
                    background-color: var(--text-color);
                    color: #fff;
                    border: none;
                    font-size: .8rem;
                    border-radius: 5px;
                    cursor: pointer;
                    outline: none;

                    &:disabled {
                        background-color: grey;
                        cursor: not-allowed;
                    }
                }
            }

            .lap-container {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .time-interval {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    justify-content: space-around;
                    background-color: var(--clock-border);
                    padding: 8px 16px;

                    span {
                        font-size: .85rem;
                        color: var(--text-color);
                    }
                    
                    &:not(:last-of-type) {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }

    .color-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .choose-color {
            padding: 15px 35px;
            margin-bottom: 30px;
            color: var(--bg);
            font-weight: 600;
            background-color: var(--text-color);
            border: none;
            border-radius: 40px;
            cursor: pointer;
            outline: none;
            --webkit-tap-highligt-color: transparent;

            &:hover {
                opacity: 0.8;
            }
        }

        .pick-color {
            background-color: var(--bg-fill);
            width: 550px;
            height: auto;
            padding: 20px;
            display: flex;
            align-items: center;
            border-radius: 20px;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
            transition: ease 1s;
            position: absolute;
            bottom: 70px;
            z-index: 10;
            display: none;
            justify-content: space-around;

            @media only screen and (max-width: 500px) {
                width: 320px
            }

            .colors {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
                outline: none;
                --webkit-tap-highligt-color: transparent;
                box-shadow: inset 0 0 0 5px white;
                transition: ease 0.2s;

                @media only screen and (max-width: 500px) {
                    width: 35px;
                    height: 35px
                }

                &:hover {
                    transform: scale(1.3);
                }

                &:nth-child(1) {
                    background-color: var(--green-color);
                    border: 3px solid var(--green-color);
                }

                &:nth-child(2) {
                    background-color: var(--orange-color);
                    border: 3px solid var(--orange-color);
                    margin-left: 10px;
                }

                &:nth-child(3) {
                    background-color: var(--pink-color);
                    border: 3px solid var(--pink-color);
                    margin-left: 10px;
                }

                &:nth-child(4) {
                    background-color: var(--brown-color);
                    border: 3px solid var(--brown-color);
                    margin-left: 10px;
                }

                &:nth-child(5) {
                    background-color: var(--grey-color);
                    border: 3px solid var(--grey-color);
                    margin-left: 10px;
                }

                &:nth-child(6) {
                    background-color: var(--purple-color);
                    border: 3px solid var(--purple-color);
                    margin-left: 10px;
                }

                &:nth-child(7) {
                    background-color: var(--dmb-color);
                    border: 3px solid var(--dmb-color);
                    margin-left: 10px;
                }

                &:nth-child(8) {
                    background-color: var(--gold-color);
                    border: 3px solid var(--gold-color);
                    margin-left: 10px;
                }
            }
        }
    }

    .dim {
        position: absolute;
        height: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        display: none;
    }

    .fade-in {
        animation: fadeIn 1s ease forwards;
    }
}

.minute-one,
.minute-two,
.minute-three,
.minute-four,
.minute-five,
.minute-six,
.minute-seven,
.minute-eight {
    width: 2px;
    background-color: var(--clock-marking-seconds);
    height: 100%;
    transform: rotate(6deg);
    position: absolute;
    left: 49%;
}

.minute-two {
    transform: rotate((12deg))
}

.minute-three {
    transform: rotate(18deg);
}

.minute-four {
    transform: rotate(24deg);
}

.minute-five {
    transform: rotate(96deg);
}

.minute-six {
    transform: rotate(102deg);
}

.minute-seven {
    transform: rotate(108deg);
}

.minute-eight {
    transform: rotate(114deg);
}

@keyframes fadeIn {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
        display: block;
    }
}